/* body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0px;
    background-color:grey;
}
.container{
    background-color:dimgray;
    width: 300px;
    font-size: large;
    font-family:calibri;
    padding: 30px;
    border: 10px;
    border-radius: 10px;
    box-shadow: 10px;
}
.container h2{
    text-align: center;
}
.container label{
    margin-left:50px;
}
.container input{
    margin-left:50px;
    width: 30vh;
    height: 4vh;
    font-size: 15px;
    border: 15px;
    border-radius: 15px;
    direction: ltl;
    text-indent: 10px;
    
}
.container button{
    margin-top: 15px;
    margin-left: 50px;
    width: 31vh;
    height: 5vh;
    font-size:medium;
    cursor:pointer;
    color: #000;
    border: 15px;
    border-radius: 15px;
    
}
.container button:hover{
    background-color:#3213;
    border: none;
}
.spaced-div{
    margin-top: 5px;
}
.space{
    margin-top: 5px;
    margin-bottom: 5px;
}
.space i{
    position: relative;
    right: 20px;
    color: gray;
    cursor: pointer;
}
.spaced-div i{
    position: relative;
    right: 20px;
    color: gray;
    cursor: pointer;
   
}
.space i:hover{
    color: #000;
}
.spaced-div i:hover{
    color: #000;
}
.user{
    margin-top: 5px;
    margin-bottom: 5px;
}
 */